<div class="row">
   <form action="http://localhost:4000/reporte" method="POST">
      <div class="form-group">
    <label>Date range:</label>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="far fa-calendar-alt"></i>
        </span>
      </div>
      <input type="text" name="fecha1"  />
    </div>

    
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="far fa-calendar-alt"></i>
        </span>
      </div>
      <input type="text" name="fecha2"   />
    </div>

  

    <!-- /.input group -->
  </div>

  <button type="submit">Generar</button>

   </form>

 


  <script>
$(function() {
  $('input[name="fecha1"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  }, function(start, end, label) {
    var years = moment().diff(start, 'years');
 
  });
});

$(function() {
  $('input[name="fecha2"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  }, function(start, end, label) {
    var years = moment().diff(start, 'years');
  
  });
});
</script>

</div>