 
<div class="container-fluid">
<div class="row">

      <div class="col-md-7 col-7" > 
        <div style="background-image: url(images/2.jpg); width:auto;  height: 800px; margin:0 px important!;"></div>


      </div>
  <div class=" col-5 col-md-5">

  <div class="row">
    
      <div class="col-4 col-sm-4 col-md-4">
         <div class="login-box">
             <div class="login-logo">
                  <a href="#"><b>Momba</b>Shop</a>
            </div>
         </div>
      </div>
    <div class="col-4 col-sm-4 col-md-4"></div>
  </div>

    <div class="row">
     
      <div class="col-4 col-sm-4 col-md-4">
         <div class="login-box">
             <div class="login-logo">
                  <a href="#"><b>Seleccione </b>Su Area</a>
            </div>
         </div>
      </div>
    <div class="col-4 col-sm-4 col-md-4"></div>
  </div>

    <div class="row">
     <div class="col-4 col-sm-4 col-md-4">
          <a href="/login/ventas" class="nav-link">
                <i class="fas fa-cart-arrow-down"></i>
                <p>Ventas</p>
              </a>
     </div>
      <div class="col-4 col-sm-4 col-md-4">
          <a href="/login/admin" class="nav-link">
                <i class="fas fa-users-cog"></i>
                <p>Administracion</p>
              </a>
     </div>
      <div class="col-4 col-sm-4 col-md-4">
          <a href="/login/inventario" class="nav-link">
                <i class="fas fa-boxes"></i>
                <p>Inventario</p>
              </a>
     </div>
  </div>

  </div>
 
</div>








</div>


